<div class="footer-content">
    <div class="footer-section">
        <h4>Gerador de Documentos Jurídicos - Espírito Santo</h4>
        <p>Sistema de Geração de Documentos</p>
    </div>

    <div class="footer-section">
        <h4>Links Úteis</h4>

        <ul>
            <li>
                <a href="https://www.es.gov.br" target="_blank">Portal ES</a>
            </li>

            <li><a href="/dist/pages/contact-us.html">Suporte</a></li>
        </ul>
    </div>

    <div class="footer-credits">
        <p>
            &copy; 2025 Gerador de Documentos Jurídicos, Espírito Santo - Todos
            os direitos reservados
        </p>
    </div>
</div>
